Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-proxy-extensions, credfeto-nuget-proxy-index-transformer-interfaces, credfeto-nuget-proxy-logic, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-package-storage-filesystem, credfeto-nuget-proxy-package-storage-filesystem-tests, credfeto-nuget-proxy-package-storage-interfaces, credfeto-nuget-proxy-server, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-proxy-extensions":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Extensions/**/*' ]
"credfeto-nuget-proxy-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-proxy-logic":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Logic/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-proxy-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

Missing cached log
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonDownloaderLoggingExtensions.cs
Labels: none

Ensure Etag is quoted
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
Labels: none

Extracted method
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
Labels: none

Previously cached logging
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonDownloaderLoggingExtensions.cs
Labels: none

Content length from actual content
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
Labels: none

Cleanup: FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

Cleanup: FileSystemSetup.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemSetup.cs
Labels: none

Cleanup: IJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/IJsonStorage.cs
Labels: none

Cleanup: FileSystemJsonContext.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Json/FileSystemJsonContext.cs
Labels: none

Cleanup: JsonItem.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Models/JsonItem.cs
Labels: none

Cleanup: JsonDownloaderLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonDownloaderLoggingExtensions.cs
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Corrected namespace
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Json/FileSystemJsonContext.cs
Labels: none

Async serialisation and writing
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: C# Project

Simplified
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

Cleanup: FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

Cleanup: FileSystemPackageStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.7
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
Labels: C# Project

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.13.0.120203
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.302
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Renamed
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

delete corrupt files
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

EnableConfigurationBindingGenerator
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project

Switiching to use config
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
Labels: none

Using config
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/IJsonTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/HttpClientSetup.cs
  src/Credfeto.Nuget.Proxy.Logic/LogicSetup.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/NupkgSource.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/PackageDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/StandardJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Middleware/JsonMiddleware.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemPackageStorage.cs
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
Labels: C# Project

Switched to use config from app
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/NupkgSource.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/PackageDownloader.cs
  src/Credfeto.Nuget.Proxy.Models/Config/ProxyServerConfig.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Server/appsettings.Development.json
  src/Credfeto.Nuget.Proxy.Server/appsettings.json
Labels: Config Change

Changelog
  CHANGELOG.md
Labels: Change Log, Markdown

Cleanup: FileSystemPackageStorageTests.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
Labels: none

Cleanup: FileSystemPackageStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

Cleanup: ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
Labels: none

Cleanup: JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
Labels: none

Cleanup: NupkgSource.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/NupkgSource.cs
Labels: none

Cleanup: StandardJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/StandardJsonIndexTransformer.cs
Labels: none

Cleanup: ProxyServerConfig.cs
  src/Credfeto.Nuget.Proxy.Models/Config/ProxyServerConfig.cs
Labels: none

Cleanup: ServerStartup.cs
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
Labels: none

Simplified
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

Async write to stream
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

catch UnauthorizedAccessException when reading
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none
