Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-proxy-extensions, credfeto-nuget-proxy-index-transformer-interfaces, credfeto-nuget-proxy-logic, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-package-storage-filesystem, credfeto-nuget-proxy-package-storage-filesystem-tests, credfeto-nuget-proxy-package-storage-interfaces, credfeto-nuget-proxy-server, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-proxy-extensions":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Extensions/**/*' ]
"credfeto-nuget-proxy-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-proxy-logic":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Logic/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-proxy-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

Reduces SDK reference from Microsoft.NET.Sdk.Web to Microsoft.NET.Sdk
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
Labels: C# Project

Removed reference to ..\Credfeto.Nuget.Proxy.Models\Credfeto.Nuget.Proxy.Models
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
Labels: C# Project

Removed reference to Credfeto.Date.Interfaces
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
Labels: C# Project

Removed reference to ..\Credfeto.Nuget.Proxy.Extensions\Credfeto.Nuget.Proxy.Extensions
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
Labels: C# Project

Removed reference to Credfeto.Extensions.Linq
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
Labels: C# Project

Removed reference to ..\Credfeto.Nuget.Proxy.Models\Credfeto.Nuget.Proxy.Models
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
Labels: C# Project

Removed reference to ..\Credfeto.Nuget.Proxy.Models\Credfeto.Nuget.Proxy.Models
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project

Removed reference to Credfeto.Extensions.Linq
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.13.1330
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.210
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.0
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.DuplicateCodeAnalyzer (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.14.0
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.15.0.120848
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.23.0
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 3.0.0
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.280.1580
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.8
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.121.1337
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.23.0
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 3.0.0
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.131.1251
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.280.1580
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.8
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.90
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.108.756
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.49.325
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.14.1336
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown
