Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-proxy-extensions, credfeto-nuget-proxy-index-transformer-interfaces, credfeto-nuget-proxy-logic, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-package-storage-filesystem, credfeto-nuget-proxy-package-storage-filesystem-tests, credfeto-nuget-proxy-package-storage-interfaces, credfeto-nuget-proxy-server, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-proxy-extensions":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Extensions/**/*' ]
"credfeto-nuget-proxy-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-proxy-logic":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Logic/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-proxy-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

Changelog for 0.0.91
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.122.1340
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.132.1254
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.211
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.92
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.15.1339
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.133.1257
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.281.1593
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.109.760
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.50.329
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.93
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.123.1345
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.16.1341
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.134.1263
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.110.765
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.212
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.51.334
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.94
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.124.1351
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.304
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.17.1347
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.282.1603
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.125.1355
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.18.1350
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.7.0
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.135.1271
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.95
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.111.775
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.52.345
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.283.1612
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.19.1359
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.126.1361
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.284.1617
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.112.779
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.20.1362
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.96
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.127.1366
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown
