Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-proxy-extensions, credfeto-nuget-proxy-index-transformer-interfaces, credfeto-nuget-proxy-logic, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-package-storage-filesystem, credfeto-nuget-proxy-package-storage-filesystem-tests, credfeto-nuget-proxy-package-storage-interfaces, credfeto-nuget-proxy-server, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Removed: Obsolete action
  .github/actions/nuget-push-integrated-symbol-feed/actions.yml
Labels: none

Removed: Obsolete action
  .github/actions/nuget-push-separate-symbol-feed/actions.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

Removed: Obsolete action
  .github/workflows/reformat-sql.yml
Labels: github-actions

Removed: Obsolete action
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Cleanup: MiddlewareSetup.cs
  src/Credfeto.Nuget.Proxy.Middleware/MiddlewareSetup.cs
Labels: none

Cleanup: NotFoundMiddleware.cs
  src/Credfeto.Nuget.Proxy.Middleware/NotFoundMiddleware.cs
Labels: none

Cleanup: NuPkgMiddleware.cs
  src/Credfeto.Nuget.Proxy.Middleware/NuPkgMiddleware.cs
Labels: none

Cleanup: Program.cs
  src/Credfeto.Nuget.Proxy.Server/Program.cs
Labels: none

Cleanup: JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
Labels: none

Cleanup: JsonMiddlewareLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Middleware/LoggingExtensions/JsonMiddlewareLoggingExtensions.cs
Labels: none

Cleanup: NuPkgMiddlewareLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Middleware/LoggingExtensions/NuPkgMiddlewareLoggingExtensions.cs
Labels: none

Cleanup: ServerStartup.cs
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
Labels: none

Cleanup: JsonIndexTransformerBaseLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonIndexTransformerBaseLoggingExtensions.cs
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.204
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.205
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.3
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.7
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.7
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.7
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
Labels: C# Project

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.7.1279
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.13.0.120203
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.302
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.8.1282
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.275.1526
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Logging of http headers for caching and type
  src/Credfeto.Nuget.Proxy.Logic/Models/JsonMetadata.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonDownloaderLoggingExtensions.cs
Labels: none

TODO's for loading/saving metadata from cache
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
Labels: none

Cleanup: JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
Labels: none

Cleanup: JsonMetadata.cs
  src/Credfeto.Nuget.Proxy.Logic/Models/JsonMetadata.cs
Labels: none

Cleanup: JsonDownloaderLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonDownloaderLoggingExtensions.cs
Labels: none

Content type
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemSetup.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/IJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Models/JsonItem.cs
Labels: none

Storing json if there's an etag
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Json/FileSystemJsonContext.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/LoggingExtensions/FileSystemJsonStorageLoggerExtensions.cs
Labels: none

Metadata/etag
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
Labels: none

Missing cached result if not modified
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-proxy-extensions":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Extensions/**/*' ]
"credfeto-nuget-proxy-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-proxy-logic":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Logic/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-proxy-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
