Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-index-transformer-interfaces, credfeto-nuget-package-storage-filesystem, credfeto-nuget-package-storage-filesystem-tests, credfeto-nuget-package-storage-interfaces, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-server, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.70.976
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.56.380
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.189
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.13.61
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Stop dumping out the parameters
  src/Credfeto.Nuget.Proxy.Server/Program.cs
Labels: none

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.7.0.110445
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.75.877
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.78.751
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.3
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

Additional versions
  src/Credfeto.Nuget.Proxy.Server/Services/ApiNugetOrgJsonIndexTransformer.cs
Labels: none

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.71.984
  CHANGELOG.md
  src/Credfeto.Nuget.Index.Transformer.Interfaces/Credfeto.Nuget.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem/Credfeto.Nuget.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Package.Storage.Interfaces/Credfeto.Nuget.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.76.906
  CHANGELOG.md
  src/Credfeto.Nuget.Index.Transformer.Interfaces/Credfeto.Nuget.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem/Credfeto.Nuget.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Package.Storage.Interfaces/Credfeto.Nuget.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.71.984
  CHANGELOG.md
  src/Credfeto.Nuget.Index.Transformer.Interfaces/Credfeto.Nuget.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem/Credfeto.Nuget.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Package.Storage.Interfaces/Credfeto.Nuget.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.76.906
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.79.780
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.5
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.57.416
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.74.984
  CHANGELOG.md
  src/Credfeto.Nuget.Index.Transformer.Interfaces/Credfeto.Nuget.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem/Credfeto.Nuget.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Package.Storage.Interfaces/Credfeto.Nuget.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.77.912
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.80.786
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

Max Age 1 min
  src/Credfeto.Nuget.Proxy.Server/Services/JsonIndexTransformerBase.cs
Labels: none

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.265.1215
  CHANGELOG.md
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Package.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

Cancellation toke
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
Labels: C# Project

Changelog for 0.0.6
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Serilog.Extensions.Logging (Serilog extension for Microsoft logging) to 9.0.1
  CHANGELOG.md
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Content max age
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
  src/Credfeto.Nuget.Proxy.Models/Config/ProxyServerConfig.cs
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
  src/Credfeto.Nuget.Proxy.Server/Services/JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Server/appsettings.json
Labels: Config Change

Changelog for 0.0.7
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
