Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-proxy-extensions, credfeto-nuget-proxy-index-transformer-interfaces, credfeto-nuget-proxy-logic, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-package-storage-filesystem, credfeto-nuget-proxy-package-storage-filesystem-tests, credfeto-nuget-proxy-package-storage-interfaces, credfeto-nuget-proxy-server, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

Compressed and base64'd json
  src/Credfeto.Nuget.Proxy.Logic/Models/JsonMetadata.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonDownloaderLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Models/Models/JsonMetadata.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/IJsonStorage.cs
Labels: C# Project

Made debug
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

Base64 url encode
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

removed debug only
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/FileSystemJsonStorage.cs
Labels: none

Cache for 5 mins
  src/Credfeto.Nuget.Proxy.Middleware/JsonMiddleware.cs
Labels: none

Cleanup: Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
Labels: C# Project

Cleanup: IJsonTransformer.cs
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/IJsonTransformer.cs
Labels: none

Cleanup: HttpClientSetup.cs
  src/Credfeto.Nuget.Proxy.Logic/HttpClientSetup.cs
Labels: none

Cleanup: LogicSetup.cs
  src/Credfeto.Nuget.Proxy.Logic/LogicSetup.cs
Labels: none

Cleanup: IJsonStorage.cs
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/IJsonStorage.cs
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Must revalidate
  src/Credfeto.Nuget.Proxy.Middleware/JsonMiddleware.cs
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

UseForwardedHeaders
  src/Credfeto.Nuget.Proxy.Server/Program.cs
Labels: none

Cleanup: Program.cs
  src/Credfeto.Nuget.Proxy.Server/Program.cs
Labels: none

Removed comments
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
Labels: none

Check for the endpoint
  src/Credfeto.Nuget.Proxy.Middleware/JsonMiddleware.cs
  src/Credfeto.Nuget.Proxy.Middleware/NotFoundMiddleware.cs
  src/Credfeto.Nuget.Proxy.Middleware/NuPkgMiddleware.cs
Labels: none

Return ETag header
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/JsonResult.cs
  src/Credfeto.Nuget.Proxy.Logic/IJsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/JsonResponse.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Middleware/JsonMiddleware.cs
Labels: none

Cleanup: IJsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/IJsonDownloader.cs
Labels: none

Cleanup: JsonResponse.cs
  src/Credfeto.Nuget.Proxy.Logic/JsonResponse.cs
Labels: none

Cleanup: NotFoundMiddleware.cs
  src/Credfeto.Nuget.Proxy.Middleware/NotFoundMiddleware.cs
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[PR] Updated labels
  .github/labels.yml
Labels: none

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-proxy-extensions":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Extensions/**/*' ]
"credfeto-nuget-proxy-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-proxy-logic":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Logic/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-proxy-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
