Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-proxy-extensions, credfeto-nuget-proxy-index-transformer-interfaces, credfeto-nuget-proxy-logic, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-package-storage-filesystem, credfeto-nuget-proxy-package-storage-filesystem-tests, credfeto-nuget-proxy-package-storage-interfaces, credfeto-nuget-proxy-server, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.305
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Net10
  src/global.json
Labels: .NET update

Net10
  src/global.json
Labels: .NET update

Net10
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/Credfeto.Nuget.Proxy.Index.Transformer.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Models/Credfeto.Nuget.Proxy.Models.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.FileSystem/Credfeto.Nuget.Proxy.Package.Storage.FileSystem.csproj
  src/Credfeto.Nuget.Proxy.Package.Storage.Interfaces/Credfeto.Nuget.Proxy.Package.Storage.Interfaces.csproj
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
Labels: C# Project

preview docker image
  Dockerfile
Labels: none

Updated DotNet SDK to 10.0.100-preview.5.25277.114
  src/global.json
Labels: .NET update

Updated DotNet SDK to 10.0.100-rc.1.25451.107
  src/global.json
Labels: .NET update

Dotnet 10
  CHANGELOG.md
Labels: Change Log, Markdown

Removed comment
  Dockerfile
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Code analysis] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Migrated solution to SLNX
  src/Credfeto.Nuget.Proxy.sln
  src/Credfeto.Nuget.Proxy.slnx
  src/Credfeto.Nuget.Proxy.slnx.DotSettings
Labels: C# Solution

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Code analysis - pre-release rule overrides] Updated src/pre-release.rule-settings.json
  src/pre-release.rule-settings.json
Labels: Config Change

[Code analysis - release rule overrides] Updated src/release.rule-settings.json
  src/release.rule-settings.json
Labels: Config Change

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-proxy-extensions":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Extensions/**/*' ]
"credfeto-nuget-proxy-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-proxy-logic":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Logic/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-proxy-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-proxy-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
