Repository credfeto/credfeto-nuget-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-nuget-index-transformer-interfaces, credfeto-nuget-package-storage-filesystem, credfeto-nuget-package-storage-filesystem-tests, credfeto-nuget-package-storage-interfaces, credfeto-nuget-proxy-middleware, credfeto-nuget-proxy-models, credfeto-nuget-proxy-server, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Moved assembly
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Logic/HttpClientNames.cs
  src/Credfeto.Nuget.Proxy.Logic/HttpClientSetup.cs
  src/Credfeto.Nuget.Proxy.Server/Credfeto.Nuget.Proxy.Server.csproj
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
  src/Credfeto.Nuget.Proxy.sln
Labels: C# Project, C# Solution

Moved implementation from middleware into a mockable set of interfaces
  src/Credfeto.Nuget.Index.Transformer.Interfaces/INupkgSource.cs
  src/Credfeto.Nuget.Proxy.Extensions/Credfeto.Nuget.Proxy.Extensions.csproj
  src/Credfeto.Nuget.Proxy.Extensions/UriExtensions.cs
  src/Credfeto.Nuget.Proxy.Logic/HttpClientSetup.cs
  src/Credfeto.Nuget.Proxy.Logic/IJsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/IPackageDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/LogicSetup.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/JsonIndexTransformerBaseLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/LoggingExtensions/NeedToRenameThisLoggingExtensions.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/NupkgSource.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/PackageDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/StandardJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Middleware/Credfeto.Nuget.Proxy.Middleware.csproj
  src/Credfeto.Nuget.Proxy.Middleware/NuPkgMiddleware.cs
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
  src/Credfeto.Nuget.Proxy.sln
Labels: C# Project, C# Solution

Refactored loading of upstream
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Logic/Extensions/EnumExtensions.cs
  src/Credfeto.Nuget.Proxy.Logic/IJsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/StandardJsonIndexTransformer.cs
Labels: C# Project

Added todo
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
Labels: none

Corrected exception message
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
Labels: none

Changing return type
  src/Credfeto.Nuget.Proxy.Logic/IPackageDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/NupkgSource.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/PackageDownloader.cs
Labels: none

Removed unused using
  src/Credfeto.Nuget.Proxy.Logic/IJsonDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/IPackageDownloader.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/PackageDownloader.cs
  src/Credfeto.Nuget.Proxy.Server/Helpers/ServerStartup.cs
Labels: none

Refactored index transformer
  src/Credfeto.Nuget.Index.Transformer.Interfaces/IJsonTransformer.cs
  src/Credfeto.Nuget.Index.Transformer.Interfaces/JsonResult.cs
  src/Credfeto.Nuget.Proxy.Logic/Credfeto.Nuget.Proxy.Logic.csproj
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/StandardJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Middleware/JsonMiddleware.cs
Labels: C# Project

Removed unused
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/JsonIndexTransformerBase.cs
Labels: none

Create dir if it doesn't exist
  src/Credfeto.Nuget.Package.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

Refactoring to use common method to make sure folder exists
  src/Credfeto.Nuget.Package.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

Refactoring to simplified code for package downloading
  src/Credfeto.Nuget.Index.Transformer.Interfaces/INupkgSource.cs
  src/Credfeto.Nuget.Index.Transformer.Interfaces/PackageResult.cs
  src/Credfeto.Nuget.Package.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
  src/Credfeto.Nuget.Package.Storage.FileSystem/FileSystemPackageStorage.cs
  src/Credfeto.Nuget.Package.Storage.Interfaces/IPackageStorage.cs
  src/Credfeto.Nuget.Proxy.Logic/Services/NupkgSource.cs
  src/Credfeto.Nuget.Proxy.Middleware/NuPkgMiddleware.cs
Labels: none

Upstream URI for nuget
  src/Credfeto.Nuget.Proxy.Logic/Services/ApiNugetOrgJsonIndexTransformer.cs
  src/Credfeto.Nuget.Proxy.Server/appsettings.json
Labels: Config Change

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-nuget-index-transformer-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Index.Transformer.Interfaces/**/*' ]
"credfeto-nuget-package-storage-filesystem":
 - any: [ 'src/$Credfeto.Nuget.Package.Storage.FileSystem/**/*' ]
"credfeto-nuget-package-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Nuget.Package.Storage.FileSystem.Tests/**/*' ]
"credfeto-nuget-package-storage-interfaces":
 - any: [ 'src/$Credfeto.Nuget.Package.Storage.Interfaces/**/*' ]
"credfeto-nuget-proxy-middleware":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Middleware/**/*' ]
"credfeto-nuget-proxy-models":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Models/**/*' ]
"credfeto-nuget-proxy-server":
 - any: [ 'src/$Credfeto.Nuget.Proxy.Server/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
